@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Secular+One&family=Space+Mono&display=swap');

/* Table Formating */

/* spacing */

table {
    table-layout:auto;
    width: 100%;
    /* border: 3px solid purple; */
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
width: 35%;
}

th, td {
    padding: 20px;
}

/* Table Formating END */

.lbl {
    text-align: right;
    width: 100px;
    white-space: nowrap;
}

.fld {
    width: 100%;
}

.frm {
    display: inline-block;
}

.meta-gray {
    -webkit-filter: grayscale(1);
}
.meta-normal {
    -webkit-filter: grayscale(0);
}

.regular-text {
    color: #fff;
    font-family: 'Space Mono', monospace;
}

.bold-heading {
    color: #000;
    font-family: 'Press Start 2P', cursive;

}

.container{
    padding: 1%;
    border: 3px solid #202124;
    border-radius: 2%;
    background-color: #202124;
}
body{
    background-color: #202124;
}

.responsive-iframe {
  /*position: absolute;*/
  align: center;
  width: 81vh;
  height: 100vh;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

